<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="net.gondr.mapper.BoardMapper">
	<insert id="create">
		INSERT INTO tbl_board(title, content, writer) 
		VALUES (#{title}, #{content}, #{writer}) 
	</insert>
	
	<select id="read" resultMap="boardMap">
		SELECT bno, title, content, writer, regdate, viewcnt
		FROM tbl_board
		WHERE bno = #{bno}
	</select>
	
	<resultMap type="BoardVO" id="boardMap">
		<result property="bno" column ="bno"></result>
		<result property="title" column ="title"></result>
		<result property="content" column ="content"></result>
		<result property="writer" column ="writer"></result>
		<result property="regdate" column ="regdate"></result>
		<result property="viewcnt" column ="viewcnt"></result>
	</resultMap>
	
	<update id="update">
		UPDATE tbl_board SET title = #{title}, content = #{content}
		WHERE bno = #{bno}
	</update>
	
	<delete id="delete">
		DELETE FROM tbl_board WHERE bno = #{bno}
	</delete>
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				AND title like CONCAT('%', #{keyword}, '%')
			</if>
			
			<if test="searchType == 'c'.toString()">
				AND content like CONCAT('%', #{keyword}, '%')
			</if>
			
			<if test="searchType == 'w'.toString()">
				AND writer like CONCAT('%', #{keyword}, '%')
			</if>
			
			<if test="searchType == 'tc'.toString()">
				AND (
				 title like CONCAT('%', #{keyword}, '%') 
				 OR content like CONCAT('%', #{keyword}, '%')
				)
			</if>
			
			<if test="searchType == 'cw'.toString()">
				AND (
				 content like CONCAT('%', #{keyword}, '%') 
				 OR writer like CONCAT('%', #{keyword}, '%')
				)
			</if>
			
			<if test="searchType == 'tcw'.toString()">
				AND (
				 title like CONCAT('%', #{keyword}, '%')
				 OR content like CONCAT('%', #{keyword}, '%') 
				 OR writer like CONCAT('%', #{keyword}, '%')
				)
			</if>
		</if>
	</sql>
	
	<select id="listAll" resultMap="boardMap">
		<![CDATA[
			SELECT bno, title, content, writer, regdate, viewcnt
			FROM tbl_board WHERE bno > 0
			ORDER BY bno DESC
		]]>
	</select>
	
	<select id="listPage" resultMap="boardMap">
		<![CDATA[
			SELECT bno, title, content, writer, regdate, viewcnt
			FROM tbl_board WHERE bno > 0
		]]>
			<include refid="search"></include>
		<![CDATA[
			ORDER BY bno DESC
			LIMIT #{pageStart}, #{perPageNum}
		]]>
	</select>
	
	<select id="countBoard" resultType="int">
		<![CDATA[
			SELECT count(bno) FROM tbl_board
			WHERE bno > 0
		]]>
		<include refid="search"></include>
	</select>
</mapper>